@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="container text-center p-5 bg-danger bg-opacity-50 rounded shadow">
    <h1 class="mb-3">Грешка</h1>
    <a href="/" class="btn btn-light mt-3">Обратно към началната страница</a>
</div>