@{
    ViewData["Title"] = "Поверителност";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <input type="text" name="query" class="form-control" placeholder="Търсене...">
            <div class="col-md-12 mt-3">
                <div id="result-container"></div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/get_names.js"></script>